@model IEnumerable<ExpenseTracker.Models.Item>;
@{
  ViewData["Title"] = "Item";
  int count=1;
}
<div class="Container text-center">
  <h1 class="text-uppercase">@ViewData["Title"]</h1>
  <div class="px-2 px-md-5 text-end">
    <p class="">
      <a class="btn btn-outline-primary" asp-action="Create">Create</a>
    </p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Item Group</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var item in Model)
      {
        <tr>
        <th scope="row">@count</th>
        <td>@item.Name</td>
        <td>Rs. @item.Price</td>
        <td>@item.ItemGroup.Name</td>
        <td>@item.Description</td>
      </tr>
      count++;
      }
    </tbody>
  </table>

</div>
